page-item-detail {
  div.alert-radio-label {
    background-color: red;
  }

  .item-profile {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-position: center center;
    margin: 3% 45% 0% 45%;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  #color {
    background-color: red;
    height: 15px;
    width: 15px;
  }
  #colorbox {
    width: 20px;
    height: 20px;
    background-color: red;
  }
}
