page-item-detail {
  .item-profile {
    width: 25%;
    background-position: center center;
    height: 50px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  .color {
    background-color: red;
    height: 15px;
    width: 15px;
  }
}
