<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>
</ion-header>
  
  
<ion-content>
    <ion-buttons class='camera'>
      <br>
      <button ion-button icon-only block round (click)="picPage()">
        <ion-icon name="ios-camera"></ion-icon>Bottle Shot
      </button>
    </ion-buttons>
  
  <div id="item-detail" padding>
      <h2>{{item.name}} Notes:</h2>
      <p>{{item.about}}</p>
  
    <form [formGroup]="wine" >
      <ion-item>
        <ion-label floating>Wine Name:</ion-label>
        <ion-input type="text" formControlName="name" [(ngModel)]='wineItem.wineName'></ion-input>
      </ion-item>

      <ion-list radio-group formControlName="color" [(ngModel)]='wineItem.wineColor'>
        <ion-label>Color:</ion-label>
          <ion-item>
            <ion-label label="Pale Straw">Pale Straw</ion-label>
            <ion-radio id='colorbox'value='Pale Straw'></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="Medium Staw">Medium Straw</ion-label>
            <ion-radio id='colorbox1'value="Medium Straw"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="Deep Straw">Deep Straw</ion-label>
            <ion-radio id='colorbox2'value="Deep Straw"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="Pale Yellow">Pale Yellow</ion-label>
            <ion-radio id='colorbox3'value="Pale Yellow"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="Medium Yello">Medium Yellow</ion-label>
            <ion-radio id='colorbox4'value="Medium Yellow"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="Deep Yellow">Deep Yellow</ion-label>
            <ion-radio id='colorbox5'value="Deep Yellow"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Gold</ion-label>
            <ion-radio id='colorbox5'value="Pale Gold"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Gold</ion-label>
            <ion-radio id='colorbox6'value="Medium Gold"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Gold</ion-label>
            <ion-radio id='colorbox7'value="Deep Gold"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Brown</ion-label>
            <ion-radio id='colorbox8'value="Pale Brown"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Brown</ion-label>
            <ion-radio id='colorbox9'value="Medium Brown"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Brown</ion-label>
            <ion-radio id='colorbox10' value="Deep Brown"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Amber</ion-label>
            <ion-radio id='colorbox11'value="Pale Amber"></ion-radio>
          </ion-item>         
          <ion-item>
            <ion-label label="">Medium Amber</ion-label>
            <ion-radio id='colorbox12'value="Medium Amber"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Amber</ion-label>
            <ion-radio id='colorbox13'value="Deep Amber"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Copper</ion-label>
            <ion-radio id='colorbox14'value="Pale Copper"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Copper</ion-label>
            <ion-radio id='colorbox15'value="Medium Copper"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Copper</ion-label>
            <ion-radio id='colorbox16'value="Deep Copper"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Salmon</ion-label>
            <ion-radio id='colorbox17'value="Pale Salmon"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Salmon</ion-label>
            <ion-radio id='colorbox18'value="Medium Salmon"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Salmon</ion-label>
            <ion-radio id='colorbox19'value="Deep Salmon"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Pink</ion-label>
            <ion-radio id='colorbox20'value="Pale Pink"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Pink</ion-label>
            <ion-radio id='colorbox21'value="Medium Pink"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Pink</ion-label>
            <ion-radio id='colorbox22'value="Deep Pink"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Ruby</ion-label>
            <ion-radio id='colorbox23'value="Pale Ruby"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Ruby</ion-label>
            <ion-radio id='colorbox24'value="Medium Ruby"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Ruby</ion-label>
            <ion-radio id='colorbox25'value="Deep Ruby"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Purple</ion-label>
            <ion-radio id='colorbox26'value="Pale Purple"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Purple</ion-label>
            <ion-radio id='colorbox27'value="Medium Purple"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Purple</ion-label>
            <ion-radio id='colorbox28' value="Deep Purple"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Garnet</ion-label>
            <ion-radio id='colorbox29' value="Pale Garnet"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Garnet</ion-label>
            <ion-radio id='colorbox30' value="Medium Garnet"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Garnet</ion-label>
            <ion-radio id='colorbox31' value="Deep Garnet"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Pale Tawny</ion-label>
            <ion-radio id='colorbox32' value="Pale Tawny"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Medium Tawny</ion-label>
            <ion-radio id='colorbox33' value="Medium Tawny"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label label="">Deep Tawny</ion-label>
            <ion-radio id='colorbox34' value="Deep Tawny"></ion-radio>
          </ion-item>
        </ion-list>

        <hr>

        <ion-list radio-group formControlName="aromas">
          <ion-label>Aromas</ion-label>
          <ion-item item-end>
            <ion-select multiple='true' [(ngModel)]='wineItem.wineAroma' [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor='let aroma of aromas'>{{aroma.aroma}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list radio-group formControlName="flavor">
          <ion-label>Flavors</ion-label>
          <ion-item>
            <ion-select multiple='true' [(ngModel)]='wineItem.wineFlavor' [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor='let flavor of flavors'>{{flavor.flavor}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label>Alcohol:</ion-label>
          <ion-range min="1" max="10" step="1" snaps="true" color="primary" [(ngModel)]='wineItem.wineAlcohol' [ngModelOptions]="{standalone: true}">
            <ion-label range-left>Low</ion-label>
            <ion-label range-right>High</ion-label>
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-label>Sweetness:</ion-label>
            <ion-range min="1" max="10" step="1" snaps="true" color="primary" [(ngModel)]='wineItem.wineSweetness' [ngModelOptions]="{standalone: true}">
              <ion-label range-left>Dry</ion-label>
              <ion-label range-right>Sweet</ion-label>
            </ion-range>
          </ion-item>

          <ion-item>
            <ion-label>Tannins:</ion-label>
            <ion-range min="1" max="10" step="1" snaps="true" color="primary" [(ngModel)]='wineItem.wineTannins' [ngModelOptions]="{standalone: true}">
              <ion-label range-left>None</ion-label>
              <ion-label range-right>High</ion-label>
            </ion-range>
          </ion-item>

          <ion-item>
            <ion-label>Acidity:</ion-label>
            <ion-range min="1" max="10" step="1" snaps="true" color="primary" [(ngModel)]='wineItem.wineAcidity' [ngModelOptions]="{standalone: true}">
              <ion-label range-left>None</ion-label>
              <ion-label range-right>High</ion-label>
            </ion-range>
          </ion-item>

          <ion-item>
            <ion-label>Body:</ion-label>
            <ion-range min="1" max="10" step="1" snaps="true" color="primary" [(ngModel)]='wineItem.wineBody' [ngModelOptions]="{standalone: true}">
              <ion-label range-left>Light</ion-label>
              <ion-label range-right>Full</ion-label>
            </ion-range>
          </ion-item>

          <ion-item>
            <ion-label>Rating:</ion-label>
            <ion-range min="1" max="10" step="1" snaps="true" color="primary" [(ngModel)]='wineItem.wineRating' [ngModelOptions]="{standalone: true}">
              <ion-label range-left>Light</ion-label>
              <ion-label range-right>Full</ion-label>
            </ion-range>
          </ion-item>
        

      <button ion-button type="submit" [disabled]="!wine.valid" (click)="addWine(wineItem)">Submit</button>
    </form>
  </div>
</ion-content>



